/* settings menu */
.settings fieldset {
  border: none;
}
.settings input[type="radio"] {
  display: none;
}
.settings label {
  margin: 12px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 18px;
  transition: 0.4s all;
  color: #07580d;
}
.settings input[type="radio"] + label {
  margin: 12px 14px 12px 22px;
}
.settings input[type="radio"] + label:hover {
  color: #313131;
}
.settings input[type="radio"] + label:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: -24px;
  border: 2px solid #07580d;
  border-radius: 2px;
  transition: background 0.4s;
}
.settings input[type="radio"] + label:before {
  border-radius: 50%;
}
.settings input[type="radio"]:checked + label:before {
  background: #07580d;
}
.left {
  display: inline-block;
  width: 48%;
  text-align: left;
}

/* new game button */
.minesweeper-btn {
  display: inline-block;
  padding: 0 40px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Cookie", cursive;
  background-color: #07580d;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  transition: all 0.4s;
  outline: none !important;
  border: none;
  text-decoration: none;
}
.minesweeper-btn:hover {
  background-color: #333333;
  color: #fff;
}
.right {
  display: inline-block;
  width: 48%;
  text-align: right;
}

/* game board */
.board {
  background: #e2e2e2;
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  border: 8px solid #07580d;
  box-sizing: content-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
.board .cell {
  background: #e2e2e2;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(50px * 0.8);
  cursor: pointer;
  user-select: none;
  font-family: Tahoma, sans-serif;
  box-shadow: inset 0 2px 0 0 #fcfcfc, inset 2px 0 0 0 #fcfcfc,
    inset 0 -2px 0 0 #c9c9c9, inset -2px 0 0 0 #c9c9c9;
}
.board .cell:hover:not(.cell--checked) {
  background: #efefef;
}
.board .cell--checked {
  background: #d5d5d5;
  box-shadow: inset 0 1px 0 0 #c9c9c9, inset 1px 0 0 0 #c9c9c9,
    inset 0 -1px 0 0 #c9c9c9, inset -1px 0 0 0 #c9c9c9;
}
.board .cell--checked .cell--bomb:before,
.board .cell--checked .cell--bomb:after {
  opacity: 1;
}
.board .cell--checked:hover {
  cursor: default;
}
.board .cell--bomb {
  font-size: calc(50px * 0.5);
}
.board .cell--flagged {
  font-size: calc(50px * 0.5);
}

/* inscription end game */
.endscreen {
  background: #fff;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  display: none;
  color: red;
  font-family: "Cookie", cursive;
}
.endscreen .show {
  display: block;
}
.endscreen span {
  color: green;
}

/* adaptive */
@media screen and (max-width: 767px) {
  .board-wrap {
    transform: scale(0.8);
    width: calc(100% + 160px);
    left: -80px;
    position: relative;
  }
}
@media screen and (max-width: 520px) {
  .board-wrap {
    transform: scale(0.5);
    width: calc(100% + 360px);
    left: -180px;
  }
}
